<h1><%= feedback(Status.can_run?, 'You can run Hubot', 'You cannot run Hubot just yet') %></h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <td>OS</td>
    <td><%= OS.name %></td>
    <td><%= feedback(OS.supported?, 'Supported', 'Unsupported') %></td>
  </tr>
  <tr>
    <td>Node</td>
    <td><%= @node || link_to('Node install instructions', 'https://github.com/joyent/node/wiki/Installation') %></td>
    <td><%= feedback(@node, 'Installed', 'Not Installed') %></td>
  </tr>
  <tr>
    <td>NPM</td>
    <td><%= @npm || link_to('NPM download', 'http://nodejs.org/download/') %></td>
    <td><%= feedback(@npm, 'Installed', 'Not Installed') %></td>
  </tr>
  <tr>
    <td>CoffeeScript</td>
    <td><%= @coffee || 'Run <code>npm install -g coffee-script</code> after Node and NPM are installed'.html_safe %></td>
    <td><%= feedback(@coffee, 'Installed', 'Not Installed') %></td>
  </tr>
  <tr>
    <td>Hubot</td>
    <td><%= @hubot || 'Run <code>npm install -g hubot</code> after Node, NPM and CoffeeScript are installed'.html_safe %></td>
    <td><%= feedback(@hubot, 'Installed', 'Not Installed') %></td>
  </tr>
  <tr>
    <td>Yo</td>
    <td><%= @yo || 'Run <code>npm install -g yo generator-hubot</code> after Hubot, Node, NPM and CoffeeScript are installed'.html_safe %></td>
    <td><%= feedback(@yo, 'Installed', 'Not Installed') %></td>
  </tr>
  <tr>
    <td>Hubots location</td>
    <td><%= @hubots_dir %></td>
    <td><%= feedback(@hubots_dir_perms, 'Writable', 'Not writable') %></td>
  </tr>
  <tr>
    <td>Scripts location</td>
    <td><%= @scripts_dir %></td>
    <td><%= feedback(@scripts_dir_perms, 'Writable', 'Not writable') %></td>
  </tr>
</table>
