<table class="table table-striped">
  <tr>
    <td>Node</td>
    <td><%= @node %></td>
  </tr>
  <tr>
    <td>NPM</td>
    <td><%= @npm %></td>
  </tr>
  <tr>
    <td>CoffeeScript</td>
    <td><%= @coffee %></td>
  </tr>
  <tr>
    <td>Hubot</td>
    <td><%= @hubot %></td>
  </tr>
  <tr>
    <td>Hubots location</td>
    <td><%= @hubots_dir %></td>
  </tr>
  <tr>
    <td>Hubots location writable?</td>
    <td><%= @hubots_dir_perms %></td>
  </tr>
</table>
