<table class="table table-striped table-bordered table-hover">
  <tr>
    <td>
      <%= f.label :name, "Name" %>
    </td>
    <td>
      <%= f.text_field :name, placeholder: 'hubot' %>
    </td>
    <td>
      What name your Hubot should respond to?
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :adapter, "Adapter" %>
    </td>
    <td>
      <%= f.text_field :adapter, placeholder: 'irc' %>
    </td>
    <td>
      One of <a href="https://github.com/github/hubot/wiki#hubot-adapters">available adapters</a>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :port, "HTTP Port" %>
    </td>
    <td>
      <%= f.text_field :port, placeholder: '8000' %>
    </td>
    <td>
      HTTP port that this Hubot should listen to
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :test_port, "Test HTTP Port" %>
    </td>
    <td>
      <%= f.text_field :test_port, placeholder: '8001' %>
    </td>
    <td>
      HTTP port for testing interaction
    </td>
  </tr>
</table>
