<h1><%= @hubot.title %> configuration </h1>

<div class="row-fluid">
  <div class="span12">
    <%= form_tag nil, class: 'form form-inline' do %>
      <ul class="nav nav-pills">
        <button id="vim-mode" type="button" class="btn pull-right" data-toggle="button">VIM Mode</button>
        <li class="active"><a href="#variables" data-toggle="tab">Variables</a></li>
        <li><a href="#before-start" data-toggle="tab">before_start.sh</a></li>
        <li><a href="#package" data-toggle="tab">package.json</a></li>
        <li><a href="#hubot-scripts" data-toggle="tab">hubot-scripts.json</a></li>
        <li><a href="#external-scripts" data-toggle="tab">external-scripts.json</a></li>
      </ul>
      <div id="editor-tabs">

        <div class="tab-pane active" id="variables">

          <div class="alert alert-info">
              Define ENV variables in JSON, i.e.
              <code>{ "HUBOT_IRC_NICK":"hubot", "FOO":"bar" }</code>
          </div>

          <%= text_area_tag :variables, params[:variables] || @config.variables,
                            id: 'cfg-variables', class: 'input-block-level json-editor' %>
        </div>

        <div class="tab-pane" id="package">

          <div class="alert alert-info">
            Include adapter and other external dependencies in <code>dependencies</code> block
          </div>

          <%= text_area_tag :package, params[:package] || @config.package,
                            id: 'cfg-package', class: 'input-block-level json-editor' %>
        </div>

        <div class="tab-pane" id="before-start">

          <div class="alert alert-info">
            This shell script will be executed everytime before hubot starts (except for test shell)
          </div>

          <%= text_area_tag :before_start, params[:before_start] || @config.before_start,
                            id: 'cfg-before_start', class: 'input-block-level shell-editor' %>
        </div>

        <div class="tab-pane" id="hubot-scripts">

          <div class="alert alert-info">
            Include scripts by name from
            <%= link_to 'github/hubot-scripts',
                        'https://github.com/github/hubot-scripts/tree/master/src/scripts' %>.
            Or browse this <%= link_to 'catalog', 'http://hubot-script-catalog.herokuapp.com/' %>.
          </div>

          <%= text_area_tag :hubot_scripts, params[:hubot_scripts] || @config.hubot_scripts,
                            id: 'cfg-hubot-scripts', class: 'input-block-level json-editor' %>
          <%= render partial: 'include_script', locals: { scripts: Script.list_scripts(@hubot),
                                                          target: 'cfg-hubot-scripts' } %>
        </div>

        <div class="tab-pane" id="external-scripts">

          <div class="alert alert-info">Include external scripts (full path)</div>

          <%= text_area_tag :external_scripts,
                            params[:external_scripts] || @config.external_scripts,
                            id: 'cfg-external-scripts', class: 'input-block-level json-editor' %>
          <%= render partial: 'include_script', locals: { base_dir: Script.base_dir,
                                                          scripts: Script.list,
                                                          target: 'cfg-external-scripts' } %>
        </div>

      </div>
      <div class="form-actions">
        <%= submit_tag "Save all changes", class: 'btn btn-primary' %>
        <%= link_to "Back", hubot_path(@hubot), class: 'btn pull-right' %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <%= javascript_include_tag :configure %>
<% end %>
