<h1><%= @hubot.name %></h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <td>Name</td>
    <td><%= @hubot.name %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @hubot.status %></td>
  </tr>
  <tr>
    <td>Adapter</td>
    <td><%= @hubot.adapter %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= @hubot.location %></td>
  </tr>
  <tr>
    <td>HTTP</td>
    <td><%= link_to @hubot.url('/hubot/info'), @hubot.url('/hubot/info') %></td>
  </tr>
  <tr>
    <td>Log</td>
    <td>
      <%= text_area_tag "log", @hubot.log_tail(5), disabled: 'disabled', class: 'input-block-level hubot-log' %>
      <span class="pull-left"><%= @hubot.log_path %></span>
      <%= link_to "more", log_hubot_path(@hubot), class: 'btn pull-right' %>
    </td>
  </tr>
</table>

<div class="form-actions">

<% if @hubot.running? %>
  <%= link_to 'Stop', stop_hubot_path(@hubot), method: 'post', class: 'btn btn-warning' %>
<% else %>
  <%= link_to 'Start', start_hubot_path(@hubot), method: 'post', class: 'btn btn-success' %>
<% end %>
<%= link_to 'Edit', edit_hubot_path(@hubot), class: 'btn btn-primary' %>
<%= link_to 'Configure', configure_hubot_path(@hubot), class: 'btn btn-primary', 'data-no-turbolink' => true %>
<%= link_to 'Test shell', interact_hubot_path(@hubot), class: 'btn btn-primary' %>
<%= link_to 'Destroy', @hubot, class: 'btn btn-danger pull-right',  method: :delete %>
</div>

