<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <% if flash.keys.any? %>
        <%= bootstrap_flash %>
        <% flash.clear %>
      <% end %>
      <div class="row-fluid">
        <% if user_signed_in? && !(params[:controller].match('devise')) %>
          <%= render 'shared/sidebar' %>
          <div class="span9">
            <%= yield %>
          </div>
        <% else %>
          <div class="span4">
            <%= yield %>
          </div>
          <div class="span8">
            <div class="schematic"></div>
          </div>
        <% end %>
      </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>

  </body>
</html>
